body
  font-family: 'Montserrat', sans-serif

*,
*:before,
*:after
  box-sizing: border-box

button
  font-family: 'Montserrat', sans-serif

h1
  font-weight: 700
  font-size: 60px
  text-transform: uppercase
  color: #ffffff

h2
  font-weight: 700
  font-size: 18px
  text-transform: uppercase
  color: #ffffff

h3
  font-weight: 700
  font-size: 24px
  color: #333333


ul, li
  display: block

// Header
.header
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 1000
  padding-top: 40px
  color: #ffffff
  

  .header__logo
    font-size: 28px
    font-weight: 700


// Menu of header
.menu
  margin-top: 10px
  .menu__item
    margin: 0 16px
    position: relative
    a
      font-size: 14px
      font-weight: 700
      text-decoration: none
      text-transform: uppercase
      color: #ffffff

.menu__item:after
  content: ""
  display: block
  width: 100%
  height: 3px
  opacity: 0

  background-color: #fff
  position: absolute
  top: 100%
  left: 0
  z-index: 1

  transition: opacity .2s linear

.menu__item:hover:after
  opacity: 1
    


.intro
  .intro__bg
    background: url("../img/intro/intro.jpg") center no-repeat
    background-size: cover
    padding: 0
  .intro__inner
    margin-top: 350px
    text-align: center
    // padding-bottom: 220px


// Buttons

.btn
  // Intro
  .arrow-3
    color: #fff
    cursor: pointer
    text-decoration: none
    font-size: 18px
    height: 18px
    line-height: 18px 
    display: inline-block 
    rotate: 90deg
    margin-top: 250px
    margin-bottom: 55px

  .arrow-3 .arrow-3-icon 
    position: relative
    top: -1px
    transition: transform 0.3s ease
    vertical-align: middle

  .arrow-3 .arrow-3-iconcircle 
    transition: stroke-dashoffset .3s ease
    stroke-dasharray: 95
    stroke-dashoffset: 95

  .arrow-3:hover .arrow-3-icon 
    transform: translate3d(5px, 0, 0)

  .arrow-3:hover .arrow-3-iconcircle 
    stroke-dashoffset: 0

  // Portfolio
  .btn__item
    margin-bottom: 80px

    font-size: 14px
    color: #55c1e7
    font-weight: 700
    text-transform: uppercase
    background-color: #ffffff

    padding: 1em 2.2em
    border: 3px solid #55c1e7

  .btn__item:hover
    color: #ffffff
    background-color: #55c1e7


// Slider
.p-0
  padding: 0
  min-height: 400px
  height: 100%
  background-color: #f5f5f5


.carousel-inner:before
  content: ""
  display: block
  clear: both
  min-height: 49px
.carousel-inner:after 
  content: ""
  display: block
  clear: both
  min-height: 49px
  height: 100%
  
.carousel-indicators li
  width: 16px
  height: 16px
  margin-right: 12px
  margin-left: 12px
  border-radius: 50%
  background-color: #000000

.carousel-control-next-icon, .carousel-control-prev-icon
  background-image: none



.text__slider
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  font-weight: 400
  color: #666666

.text__slider, .title__slider
  text-align: left

.text__in
  max-width: 500px


// Portfolio
.portfolio
  .port__title
    position: relative
    padding-top: 110px
  
    font-size: 16px
    font-weight: 700
    text-align: center
    text-transform: uppercase
    color: #333333

  .port__title:after
    content: ""
    display: block
    width: 100px
    height: 3px
    margin: 12px auto 70px

    opacity: 0.5

    background-color: #cccccc

  .port__items
    .port__item
      display: flex
      justify-content: center
      

      .item__img
        display: block
        max-width: 100%
        margin-bottom: 31px
        border-radius: 15%
        max-width: 220px
        max-height: 160px
        cursor: pointer
        color: red
        
      .img
        object-fit: cover
        width: 100%
        height: 100%

.item__img:hover
  opacity: .1


.skills
  background-color: #f5f5f5
  .skills__title
    position: relative
    padding-top: 110px
  
    font-size: 16px
    font-weight: 700
    text-align: center
    text-transform: uppercase
    color: #333333

  .skills__title:after
    content: ""
    display: block
    width: 100px
    height: 3px
    margin: 12px auto 70px

    opacity: 0.5

    background-color: #cccccc
  
  .skills__text
    display: block
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    font-weight: 400
    width: 100%
    text-align: center
    color: #666666







  


    